* {
    box-sizing: border-box;
}

body {
    margin : 0;
    font-family: 'Poppins',sans-serif;
}
nav {
    height: 60px;
    display: flex;
    background-color: blue;
    padding: 5px 30px;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
}

.card {
    width: 175px;
    font-size: 12px;
}

.card--image {
    width: 100%;
    border-radius: 9px;
}